<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="refresh" content="300">
    <title>2012년 19대 총선 실시간 투표율 </title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts.js" %>
  <%= javascript_include_tag "http://code.highcharts.com/modules/exporting.js" %>

  <%= csrf_meta_tags %>
    <script type="text/javascript">
    $(function () {

      var chart_top;
      var chart_seoul;

      $(document).ready(function() {
        chart_seoul = new Highcharts.Chart({
          chart: {
            renderTo: 'container_seoul',
            type: 'bar',
            width: 940

          },
          title: {
            text: ''
          },
          subtitle: {
            text: ''
          },
          xAxis: {
            categories: ['종로구', '강남구', '금천구', '관악구', '강속구'],
            title: {
              text: null
            }
          },
          yAxis: {
            min: 0,
            title: {
              text: 'Population (millions)',
              align: 'high'
            }
          },
          tooltip: {
            formatter: function() {
              return ''+
                this.series.name +': '+ this.y +' millions';
            }
          },
          plotOptions: {
            bar: {
              dataLabels: {
                enabled: true
              }
            }
          },
          legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -100,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: '#FFFFFF',
            shadow: true
          },
          credits: {
            enabled: false
          },
            series: [{
            name: '19대 총선',
            data: [107, 31, 635, 203, 2]
          }, {
            name: '18대 총선',
            data: [133, 156, 947, 408, 6]
          }, {
            name: '17대 총선',
            data: [973, 914, 4054, 732, 34]
          }]
        });

        chart_top = new Highcharts.Chart({
          chart: {
            renderTo: 'container_top',
            type: 'line',
            width: 940
          },
          title: {
            text: ''
          },
          subtitle: {
            text: ''
          },
          xAxis: {
            categories: ['7시', '9시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시(최종)']
          },
          yAxis: {
            title: {
              text: '투표율'
            },
            plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
            }]
          },
          tooltip: {
            formatter: function() {
                return '<b>'+ this.series.name +'</b><br/>'+
                this.x +': '+ this.y +'Â°C';
            }
          },
          legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
          },
          series: [{
            name: '17대 총선',
            data: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
          }, {
            name: '18대 총선',
            data: [4, 9, 10, 20, 25, 30, 35, 40, 45, 50]
          }, {
            name: '19대 총선',
            data: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
          }]
        });
      });
        
    });
    </script>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <style>
      h1, h2 {
        color: white;
      }
      body {
        background: url(<%=asset_path 'bg.jpg'%>) repeat fixed;
        font-family: 나눔고딕;
      }
      #global_container {
        padding-top: 60px;
      }
      section {
        margin: 60px 0px;
      }
      table {
        background: white;
      }
    </style>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=11114090868";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="global_container" class="container">
    <div id="elec_header">
    <div class="fb-like" data-href="http://2012.ultracaption.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    <h1>
      2012년 19대 총선 실시간 투표율 
      <small>powered by <a href="https://klassmate.com" target="_blank" style="color: #C51E13">Klassmate</a></small>
    </h1>
    </div>
    <section>
      <div class="page-header">
        <h2>전체 투표율(13시 현재)</h2>
      </div>
      <div id="container_top" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </section>
    <section>
      <div style="background-color:white" class="fb-comments" data-href="http://2012.ultracaption.net" data-num-posts="15" data-width="940"></div>
    </section>
    <section>
      <div class="page-header">
        <h2>서울지역 과거 13시 투표율</h2>
      </div>
      <div id="container_seoul" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </section>
  </body>
</html>
